{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

{%- liquid
  assign overlap_images = true
  if section.settings.image != blank and section.settings.image2 == blank
    assign overlap_images = false
  endif
-%}

<div class="index-section inhanceYourSkin">

  <div class="page-width feature-row-wrapper" style="padding: 1rem">
    {%- capture image_layout -%}
      <div class="feature-row__item{% if overlap_images %} feature-row__item--overlap-images{% endif %}" style="max-width: {{ section.settings.image_width }}px" data-aos>
          {%- if section.settings.image != blank -%}
            <div>
              {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}<a href="{{ section.settings.button_link }}">{%- endif -%}
                <div class="image-wrap img-box" style="height: 0; padding-bottom: {{ 100 | divided_by: section.settings.image.aspect_ratio }}%;">
                  {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  <img class="feature-row__image lazyload"
                    data-src="{{ img_url }}"
                    data-widths="[180, 360, 540, 750, 900, 1080]"
                    data-aspectratio="{{ section.settings.image.aspect_ratio }}"
                    data-sizes="auto"
                    alt="{{ section.settings.image.alt }}">
                </div>
              {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}</a>{%- endif -%}
            </div>
          {%- endif -%}
          {%- if section.settings.image2 != blank -%}
            <div>
              {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}<a href="{{ section.settings.button_link }}">{%- endif -%}
                <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: section.settings.image2.aspect_ratio }}%;">
                  {%- assign img_url = section.settings.image2 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  <img class="feature-row__image lazyload"
                    data-src="{{ img_url }}"
                    data-widths="[180, 360, 540, 750, 900, 1080]"
                    data-aspectratio="{{ section.settings.image2.aspect_ratio }}"
                    data-sizes="auto"
                    alt="{{ section.settings.image2.alt }}">
                </div>
              {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}</a>{%- endif -%}
            </div>
          {%- endif -%}
          {%- if section.settings.image == blank and section.settings.image2 == blank -%}
            <div>
              <div class="image-wrap">
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
            </div>
            <div>
              <div class="image-wrap">
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
            </div>
          {%- endif -%}
      </div>
    {%- endcapture -%}

    <div class="feature-row">
      {%- if section.settings.layout == 'left' -%}
        {{ image_layout }}
      {%- endif -%}

      <div class="feature-row__item feature-row__text before feature-row__text--{{ section.settings.layout }} text-{{ section.settings.align_text }}" data-aos>
        {%- if section.settings.subtitle != blank -%}
          <div class="subheading appear-delay sub-heading  c-lexend{% cycle '','-1','-2','-3','-4' %}">{{ section.settings.subtitle }}</div>
        {%- endif -%}
        {%- if section.settings.title != blank -%}
          <div class="h1 appear-delay c-font-size-40  c-bookmania {% cycle '','-1','-2','-3','-4' %}">{{ section.settings.title | escape }}</div>
        {%- endif -%}
        {%- if section.settings.c-text-review != blank -%}
          <div class="rte appear-delay c-text-2 c-lexend  {% cycle '','-1','-2','-3','-4' %}">
            <i class="fa fa-star" style="color:#DAAF50;" aria-hidden="true"></i>
            <i class="fa fa-star" style="color:#DAAF50;" aria-hidden="true"></i>
            <i class="fa fa-star" style="color:#DAAF50;" aria-hidden="true"></i>
            <i class="fa fa-star" style="color:#DAAF50;" aria-hidden="true"></i>
            <i class="fa fa-star" style="color:#DAAF50;" aria-hidden="true"></i>
          {{ section.settings.c-text-review }}</div>
        {%- endif -%}
        {%- if section.settings.text != blank -%}
          <div class="rte appear-delay c-text-2   c-lexend margin-btm-24 {% cycle '','-1','-2','-3','-4' %}">{{ section.settings.text }}</div>
        {%- endif -%}
        {%- if section.settings.button_label != blank -%}
          <div class="appear-delay {% cycle '','-1','-2','-3','-4' %}">
            <a href="{{ section.settings.button_link }}" class="btn{% if section.settings.button_style == 'secondary' %} btn--tertiary{% endif %}">
              {{ section.settings.button_label }}
            </a>
          </div>
        {%- endif -%}
      </div>

      {%- if section.settings.layout == 'right' -%}
        {{ image_layout }}
      {%- endif -%}
    </div>
  </div>

</div>

{%- if section.settings.divider -%}</div>{%- endif -%}

{% schema %}
{
  "name": "c-image-with-text-s7",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.text-and-image.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "t:sections.text-and-image.settings.image2.label"
    },
    {
      "type": "range",
      "id": "image_width",
      "label": "t:sections.text-and-image.settings.image_width.label",
      "default": 700,
      "min": 200,
      "max": 700,
      "step": 10,
      "unit": "px"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "t:sections.text-and-image.settings.subtitle.label"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.text-and-image.settings.title.label",
      "default": "Image with text"
    },
    {
      "type": "text",
      "id": "c-text-review",
      "label": "t:sections.text-and-image.settings.text.label",
      "default": "<p>Pair large text with an image to tell a story, explain a detail about your product, or describe a new promotion.</p>"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "t:sections.text-and-image.settings.text.label",
      "default": "<p>Pair large text with an image to tell a story, explain a detail about your product, or describe a new promotion.</p>"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.text-and-image.settings.button_label.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.text-and-image.settings.button_link.label"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:sections.text-and-image.settings.button_style.label",
      "default": "primary",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.text-and-image.settings.button_style.options.primary.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.text-and-image.settings.button_style.options.secondary.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "align_text",
      "label": "t:sections.text-and-image.settings.align_text.label",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "t:sections.text-and-image.settings.align_text.options.left.label"
        },
        {
          "value": "center",
          "label": "t:sections.text-and-image.settings.align_text.options.center.label"
        },
        {
          "value": "right",
          "label": "t:sections.text-and-image.settings.align_text.options.right.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.text-and-image.settings.layout.label",
      "default": "right",
      "options": [
        {
          "value": "left",
          "label": "t:sections.text-and-image.settings.layout.options.left.label"
        },
        {
          "value": "right",
          "label": "t:sections.text-and-image.settings.layout.options.right.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.text-and-image.settings.divider.label",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "c-image-with-text-s7"
    }
  ]
}
{% endschema %}
<style>
  #shopify-section-template--16127565168848__fc79871c-b0b0-491a-b351-03c01e3165a7 {
  background: #F5F5F5;
  padding: 20px 0px;
}
  .feature-row{
    margin:0px;
  }
  .feature-row .feature-row__text  {}
.feature-row__item {
  position: relative;
}
.feature-row .feature-row__text.before:before{
  background: #FEBE21;
border-radius: 50px;
position: absolute;
left: 0px;
width: 50px;
height: 50px;
content: "";
}  
.feature-row__item .subheading{
    position: relative;
text-align: left;
    font-weight: 600;
font-size: 18px;
line-height: 28px;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #000000;
margin-bottom: 20px;
margin-top: 11px;
float: left;
width: 100%;
  padding-left: 20px;
  }
.feature-row__item .h3.appear-delay{
  font-family: "Source Serif Pro",serif;
letter-spacing: .1em;
text-transform: uppercase;
font-weight: 700;
font-size: 26px !important;
line-height: 46px;
color: #000 !important;
}
.feature-row__item .rte {
  font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
  color: #000000 !important;
}
.feature-row__item .subheading:before{
  display:none;
} 
    .feature-row__item .appear-delay-3 a.btn{
      background: #040707;
border-radius: 50px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 38px;
line-height: 65px;
padding-top: 0px !important;
padding-bottom: 0px !important;
margin: 0px;
      letter-spacing:none;
    }
.feature-row__item .appear-delay-3 a.btn:before,
    .feature-row__item .appear-delay-3 a.btn:after{
      display:none;
    }
.feature-row .feature-row__item .img-box{
  background: #FFFFFF;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
  padding:10px;
  margin: 2px;
}   
.feature-row__item.feature-row__text.before.feature-row__text--right.text-left.aos-init.aos-animate {
  background: none;
}
.feature-row__item.feature-row__text .appear-delay a{
  width: 275px;
  background: #040707;
border-radius: 50px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 38px;
  text-transform: uppercase;
color: #FFFFFF;
  letter-spacing:0px;
}  
  .feature-row__item.feature-row__text .appear-delay a:after,
  .feature-row__item.feature-row__text .appear-delay a:before{
    display:none;
  }
#shopify-section-template--16127565168848__d5aaebac-ea06-413e-8b64-a0469e21ba70 .grid__item > div:first-child{
  border: 8px solid #FEBE21;
  margin:0px 0px 30px 0px;
} 
#shopify-section-template--16127565168848__d5aaebac-ea06-413e-8b64-a0469e21ba70 .grid__item > div:first-child > a{
  margin:0px 0px 0px 0px;
} 
#shopify-section-template--16127565168848__d5aaebac-ea06-413e-8b64-a0469e21ba70 .grid__item > div:first-child > a .image-wrap{
  margin-bottom:0px;
}
#shopify-section-template--16127565168848__d5aaebac-ea06-413e-8b64-a0469e21ba70 .grid__item > div:first-child > a .image-wrap img{
  float:left;
}  
.grid__item .rte-setting.text-spacing.sub-heading.c-lexend{
  font-family: 'Source Serif Pro';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 28px;
  color: #000000;
} 
.grid__item .c-bookmania  {
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px !important;
line-height: 28px;
color: #000000 !important;
}
.grid__item .btn--secondary{
 background: #040707;
border-radius: 50px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 38px;
line-height: 65px;
padding-top: 0px !important;
padding-bottom: 0px !important;
margin: 0px;
letter-spacing: 0px;
color: #fff;
padding: 0px 70px;
}
.grid__item .btn--secondary:before,
.grid__item .btn--secondary:after{
      display:none;
    }  
.grid__item .btn--secondary:hover{
  background: #FEBE21;
}  
</style>

