{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

{%- liquid
  assign overlap_images = true
  if section.settings.image != blank and section.settings.image2 == blank
    assign overlap_images = false
  endif
-%}

<div class="index-section silken-style">

  <div class="page-width feature-row-wrapper silken-style-section">
    
    {%- capture image_layout -%}
      <div class="feature-row__item{% if overlap_images %} feature-row__item--overlap-images{% endif %}" style="max-width: {{ section.settings.image_width }}px" data-aos>
          {%- if section.settings.image != blank -%}
            <div>
              {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}<a href="{{ section.settings.button_link }}">{%- endif -%}
                <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: section.settings.image.aspect_ratio }}%;">
                  {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  <img class="feature-row__image lazyload"
                    data-src="{{ img_url }}"
                    data-widths="[180, 360, 540, 750, 900, 1080]"
                    data-aspectratio="{{ section.settings.image.aspect_ratio }}"
                    data-sizes="auto"
                    alt="{{ section.settings.image.alt }}">
                </div>
              {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}</a>{%- endif -%}
            </div>
          {%- endif -%}
          {%- if section.settings.image2 != blank -%}
            <div>
              {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}<a href="{{ section.settings.button_link }}">{%- endif -%}
                <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: section.settings.image2.aspect_ratio }}%;">
                  {%- assign img_url = section.settings.image2 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  <img class="feature-row__image lazyload"
                    data-src="{{ img_url }}"
                    data-widths="[180, 360, 540, 750, 900, 1080]"
                    data-aspectratio="{{ section.settings.image2.aspect_ratio }}"
                    data-sizes="auto"
                    alt="{{ section.settings.image2.alt }}">
                </div>
              {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}</a>{%- endif -%}
            </div>
          {%- endif -%}
          {%- if section.settings.image == blank and section.settings.image2 == blank -%}
            <div>
              <div class="image-wrap">
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
            </div>
            <div>
              <div class="image-wrap">
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
            </div>
          {%- endif -%}
      </div>
    {%- endcapture -%}

    <div class="feature-row no-space">
      {%- if section.settings.layout == 'left' -%}
        {{ image_layout }}
      {%- endif -%}



      {% comment %} umar code {% endcomment %}

      <div class="feature-row__item feature-row__text feature-row__text--{{ section.settings.layout }} text-{{ section.settings.align_text }}" data-aos>
        {%- if section.settings.subtitle != blank -%}
          <div class= "subheading appear-delay sub-heading main c-lexend {% cycle '','-1','-2','-3','-4' %}"><h4>{{ section.settings.subtitle }}</h4></div>
        {%- endif -%}
        {%- if section.settings.title != blank -%}
          <div class= "h1 appear-delay c-bookmania c-font-size-40 {% cycle '','-1','-2','-3','-4' %}">{{ section.settings.title | escape }}</div>
        {%- endif -%}
        {%- if section.settings.text != blank -%}
          <div class="rte appear-delay c-text-2 topParaBottom c-lexend margin-btm-48  {% cycle '','-1','-2','-3','-4' %}">{{ section.settings.text }}</div>
        {%- endif -%}
        {% comment %}
        {%- if section.settings.icon_1 != blank -%}
          <img class = "c-happy-sec-icons" src="{{ section.settings.icon_1 | image_url: width: 250  }}">
        {%- endif -%}
         {%- if section.settings.text_1 != blank -%}
          <div class="rte appear-delay c-sub-text-1{% cycle '','-1','-2','-3','-4' %}">{{ section.settings.text_1 }}</div>
        {%- endif -%}

         {%- if section.settings.text_2 != blank -%}
          <div class= "rte appear-delay  {% cycle '','-1','-2','-3','-4' %}">{{ section.settings.text_2 }}</div>
        {%- endif -%}
        {% endcomment %}

     <div class="happy-sec">
		 <div class="mx-3" style="display: flex; justify-content: center">
            {%- if section.settings.icon_1 != blank -%}
				 <img class ="c-happy-sec-icons" src="{{ section.settings.icon_1 | image_url: width: 250  }}">
            {%- endif -%}
		 </div>
		 <div class="bottomTitleBlock">
            {%- if section.settings.text_1 != blank -%}
				<p class="rte appear-delay c-lexend titleTxt c-sub-text-1  {% cycle '','-1','-2','-3','-4' %} ">{{ section.settings.text_1 }} </p>
            {%- endif -%}
            {%- if section.settings.text_2 != blank -%}
				<p class="rte appear-delay c-lexend paraTxt c-text-2 {% cycle '','-1','-2','-3','-4' %}">  {{ section.settings.text_2 }} 	</p>
            {%- endif -%}
		</div>     
	 </div>

     <div class="happy-sec">
         <div class="mx-3">
             {%- if section.settings.icon_2 != blank -%}
				<img class ="c-happy-sec-icons" src="{{ section.settings.icon_2 | image_url: width: 250  }}">
             {%- endif -%}
		 </div>
		 <div class="bottomTitleBlock">
          {%- if section.settings.text_3 != blank -%}
			 <p class="rte appear-delay c-lexend titleTxt c-sub-text-1  {% cycle '','-1','-2','-3','-4' %} ">{{ section.settings.text_3 }} </p>
          {%- endif -%}
          {%- if section.settings.text_4 != blank -%}
		     <p class="rte appear-delay c-lexend paraTxt c-text-2 {% cycle '','-1','-2','-3','-4' %}">  {{ section.settings.text_4 }} 	</p>
          {%- endif -%}
		</div>
      </div>
        
      <div class="happy-sec">
         <div class="mx-3">
           {%- if section.settings.icon_3 != blank -%}
			 <img class ="c-happy-sec-icons" src="{{ section.settings.icon_3 | image_url: width: 250  }}">
           {%- endif -%}
		 </div>
		 <div class="bottomTitleBlock">
            {%- if section.settings.text_5 != blank -%}
			  <p class="rte appear-delay c-lexend titleTxt c-sub-text-1  {% cycle '','-1','-2','-3','-4' %} ">{{ section.settings.text_5 }} </p>
            {%- endif -%}
            {%- if section.settings.text_6 != blank -%}
			  <p class="rte appear-delay c-lexend paraTxt c-text-2 {% cycle '','-1','-2','-3','-4' %}">  {{ section.settings.text_6 }} 	</p>
            {%- endif -%}
		 </div>
      </div>

      <div class="happy-sec">
         <div class="mx-3">
           {%- if section.settings.icon_4 != blank -%}
			 <img class ="c-happy-sec-icons" src="{{ section.settings.icon_4 | image_url: width: 250  }}">
           {%- endif -%}
		 </div>
		 <div class="bottomTitleBlock">
            {%- if section.settings.text_7 != blank -%}
			  <p class="rte appear-delay  c-lexend titleTxt c-sub-text-1  {% cycle '','-1','-2','-3','-4' %} ">{{ section.settings.text_7 }} </p>
            {%- endif -%}
            {%- if section.settings.text_8 != blank -%}
			  <p class="rte appear-delay c-lexend paraTxt c-text-2 {% cycle '','-1','-2','-3','-4' %}">  {{ section.settings.text_8 }} 	</p>
            {%- endif -%}
		 </div>
      </div>

        
        {%- if section.settings.button_label != blank -%}
          <div class="appear-delay{% cycle '','-1','-2','-3','-4' %}">
            <a href="{{ section.settings.button_link }}" class="btn{% if section.settings.button_style == 'secondary' %} btn--tertiary{% endif %}">
              {{ section.settings.button_label }}
            </a>
          </div>
        {%- endif -%}
      </div>


      

      {%- if section.settings.layout == 'right' -%}
        {{ image_layout }}
      {%- endif -%}
    </div>
  </div>

</div>

{%- if section.settings.divider -%}</div>{%- endif -%}

{% schema %}
{
  "name": "c-image-with-text-silken",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.text-and-image.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "t:sections.text-and-image.settings.image2.label"
    },
    {
      "type": "range",
      "id": "image_width",
      "label": "t:sections.text-and-image.settings.image_width.label",
      "default": 700,
      "min": 200,
      "max": 700,
      "step": 10,
      "unit": "px"
    },


    
    {
      "type": "text",
      "id": "subtitle",
      "label": "t:sections.text-and-image.settings.subtitle.label"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.text-and-image.settings.title.label",
      "default": "Image with text"
    },
    {
      "type": "text",
      "id": "text",
      "label": "t:sections.text-and-image.settings.text.label",
      "default": "Pair large text with an image to tell a story, explain a detail about your product, or describe a new promotion."
    },

   {
            "type": "image_picker",
            "id": "icon_1",
            "label": "Image"
    },
    {
      "type": "text",
      "id": "text_1",
      "label": "text_1",
      "default": "Image with text"
    },
    {
      "type": "text",
      "id": "text_2",
      "label": "text_2",
      "default": "Image with text"
    },

    {
            "type": "image_picker",
            "id": "icon_2",
            "label": "Image"
    },
    {
      "type": "text",
      "id": "text_3",
      "label": "text_3",
      "default": "Image with text"
    },
    {
      "type": "text",
      "id": "text_4",
      "label": "text_4",
      "default": "Image with text"
    },

    {
            "type": "image_picker",
            "id": "icon_3",
            "label": "Image"
    },
    {
      "type": "text",
      "id": "text_5",
      "label": "text_5",
      "default": "Image with text"
    },
    {
      "type": "text",
      "id": "text_6",
      "label": "text_6",
      "default": "Image with text"
    },

    {
            "type": "image_picker",
            "id": "icon_4",
            "label": "Image"
    },
    {
      "type": "text",
      "id": "text_7",
      "label": "text_7",
      "default": "Image with text"
    },
    {
      "type": "text",
      "id": "text_8",
      "label": "text_8",
      "default": "Image with text"
    },
    
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.text-and-image.settings.button_label.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.text-and-image.settings.button_link.label"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:sections.text-and-image.settings.button_style.label",
      "default": "primary",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.text-and-image.settings.button_style.options.primary.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.text-and-image.settings.button_style.options.secondary.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "align_text",
      "label": "t:sections.text-and-image.settings.align_text.label",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "t:sections.text-and-image.settings.align_text.options.left.label"
        },
        {
          "value": "center",
          "label": "t:sections.text-and-image.settings.align_text.options.center.label"
        },
        {
          "value": "right",
          "label": "t:sections.text-and-image.settings.align_text.options.right.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.text-and-image.settings.layout.label",
      "default": "right",
      "options": [
        {
          "value": "left",
          "label": "t:sections.text-and-image.settings.layout.options.left.label"
        },
        {
          "value": "right",
          "label": "t:sections.text-and-image.settings.layout.options.right.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.text-and-image.settings.divider.label",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "c-image-with-text-silken"
    }
  ]
}
{% endschema %}


<style>
.mx-3 {
  display: flex;
  justify-content: center;
}
.c-sub-heading{
  color:#E69E6C;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 8px !important
}
 
   
 	.happy-sec {
				display: flex;
                margin:0 0 24px ;
             padding: 0 0 10px;
			}
			.c-happy-sec-icons {
				width: 44px;
				height: 46px;
			}
 
			.c-sub-text-1 {
				color: #746661;
				font-size: 16px;
				font-weight: 700;
              margin-bottom: 8px !important
			}
			.subheading {
position: relative;
padding-left: 19px;}
  
.subheading:before{
  background: #fff;
border-radius: 50px;
position: absolute;
left: 0px;
width: 50px;
height: 50px;
content: "";
}  
  .subheading h4{
    position: relative;
text-align: left;
    font-weight: 600;
font-size: 18px;
line-height: 28px;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #000000;
margin-bottom: 20px;
margin-top: 11px;
float: left;
width: 100%;
  }
  .feature-row__item .h1.appear-delay {
    font-family: 'Source Serif Pro';
font-style: normal;
font-weight: 700;
font-size: 26px !important;
line-height: 48px;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #000000 !important;
margin-bottom: 0;
  }
  .feature-row.no-space .feature-row__item.aos-init.aos-animate:last-child .mx-3 {
  padding: 24px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 100px;
  margin-left: 0px !important;
  border: 3px solid #FFE456;
}
  .rte.appear-delay.c-sub-text-1 {
font-weight: 600 !important;
font-size: 18px !important;
line-height: 28px;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #000000 !important;
}
  .happy-sec .rte.appear-delay.c-lexend.c-text-2{
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px !important;
line-height: 12px;
letter-spacing: 0;
color: #000000 !important;
text-transform: none;
}
  @media only screen and (max-width: 667px){
    .feature-row__item.feature-row__text.feature-row__text--left.text-left.aos-init.aos-animate {
  padding: 0px;
}
    .feature-row__item .h1.appear-delay{
      font-size: 20px !important;
line-height: 34px;
    }
    .rte.appear-delay.c-sub-text-1 {
  font-weight: 600 !important;
  font-size: 15px !important;
  line-height: 23px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000 !important;
  letter-spacing: 0px;
}
    .feature-row.no-space .feature-row__item.aos-init.aos-animate:last-child .mx-3{
      width: 80px;
height: 80px;
padding: 13px;
    }
    .happy-sec .rte.appear-delay.c-lexend.c-text-2{
      line-height: 18px;
    }
  }
</style>
